<div style="height:100%">
  <mat-sidenav-container (backdropClick)="toggleSidenav()">

    <mat-sidenav style="height:100vh; overflow-y: auto" [opened]="sidenavToggle$ | async" [mode]="side" (keydown.escape)="toggleSidenav()">


      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile *ngIf="(user$ | async) == null || (user$ | async)?.firstName===''; then loginTemplate else userOptionsTemplate">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav>
    <mat-sidenav-content style="height:100vh; overflow-y:auto">

      <app-navbar style="position:fixed; z-index:2"></app-navbar>

      <router-outlet>
      </router-outlet>

      <!-- <div *ngIf="!((user$ | async)?.firstName === '')"> -->
      <div *ngIf="(showCreateNewPostButton$ | async) === true && !((user$ | async)?.firstName === '')">
        <span class="new-post" matTooltip="New Post!">
          <button mat-fab color="accent" (click)="openNewPostDialog()">
            <mat-icon>create</mat-icon>
          </button>
        </span>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<ng-template #loginTemplate>
  <mat-card>
    <mat-card-title>Login Providers</mat-card-title>
    <mat-card-subtitle>Choose from the following to login to PostUp</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button (click)="login()">Facebook</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #userOptionsTemplate>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <img mat-card-avatar src="{{(user$ | async)?. profileImage}}">
        <br />
        <mat-card-title>{{(user$ | async)?.firstName }} {{(user$ | async)?.lastName }}</mat-card-title>

        <button mat-raised-button color="warn" (click)="logout()">LOGOUT</button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
